extends layout

block content
  form(method='GET', action='/books/search')
    label(for='category') Choose a category to search: &nbsp;
    select#category(name='category')
      option(value='title') Title
      option(value='author') Author
      option(value='genre') Genre
      option(value='year') Year
    br
    input(type='search' name='search' placeholder="Enter your search")
    input(type="submit" value='Search')

  br
  br
  a.button(href="/books/new") Create New Book

  br
  br
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody 
    if books
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
      else
        tr
          td(colspan="4") No books found

  br
  div.pagination
  if currentPage > 1
    a.button(href=`/books?page=${currentPage - 1}`) Previous
  each page in Array.from({ length: totalPages }, (_, i) => i + 1)
    if currentPage === page
      a.button.page-number.active(href=`/books?page=${page}`)= page
    else
      a.button(href=`/books?page=${page}`)= page
  if currentPage < totalPages
    a.button(href=`/books?page=${currentPage + 1}`) Next