extends layout

block content
  if errors
    ul
      each error in errors
        li= error.msg

  form(action=`/books/${book.id}`, method='POST') 
    p
      label(for='title') Title: &nbsp;
      input(type='text', id='title', name='title', value=book.title)
    p
      br
      label(for='author') Author: &nbsp;
      input(type='text', id='author', name='author', value=book.author)
    p
      br
      label(for='genre') Genre: &nbsp;
      input(type='text', id='genre', name='genre', value=book.genre)
    p
      br
      label(for='year') Year: &nbsp;
      input(type='number', id='year', name='year', value=book.year)
    p
      br
      button(type='submit' class='button') Update Book

  form(action=`/books/${book.id}/delete`, method='POST')
    button(type='submit' class='button') Delete Book
  br
  a.button(href="/" ) Cancel
